{%extends 'bankTemp/base.html'%}
{%block content%}
    
<div>
    <h1>About Our CEO</h1>
    <p>Aditya Puri is current CEO of Digi Bank. Mr. Puri was the CEO and Managing Director of HDFC Bank from its inception in 1994 until October 2020. Over his 26 tenure leading the business, Mr. Puri grew HDFC Bank into the largest private sector bank in India with over $210 billion of assets (as of September 30, 2020), and the most valuable bank in India with a market cap of over $90 billion (as of October 2020). 

        Mr. Puri won several awards and accolades during his tenure, including being named among Barron’s Top 30 Global CEOs from 2015 to 2018 and Fortune’s Top 20 Businesspersons globally in 2017. He was also named Banker of the Year by Business Standard, and most recently, received Euromoney’s Lifetime Achievement Award.
        
        Prior to HDFC Bank, Mr. Puri spent over 20 years at Citibank overseeing parts of the bank’s activities across India, Greece, Saudi Arabia, Hong Kong, Korea, Taiwan and mainland China, with his last role as CEO of Citibank’s operations in Malaysia from 1992-1994.
        
        Mr. Puri is a commerce graduate from Punjab University and a qualified Chartered Accountant.
        
    </p>
    
</div>

{%endblock%}