{%extends 'bankTemp/base.html'%}
{%block content%}
    
<div
class="bg-image"
style="background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg');
      height: 220vh;">

<h1>Bank Branches</h1><br><br>
<h3>1. Vishal Khand</h3><br>
<p>1/2, Vishal Khand, Gomati Nagar, Lucknow </p><br>

<h3>2. Virat Khand</h3><br>
<P>3/2, Virat Khand, Gomati Nagar, Lucknow</P><br>

<h3>3. Vijyant Khand</h3><br>
<p>9/6, Vijyant Khand, Gomati Nagar, Lucknow</p><br>

<h3>4. Viraj Khand</h3><br>
<p>8/4, Viraj Khand, Gomati Nagar, Lucknow</p><br>

<h3>5. Chinhat</h3><br>
<p>GF-12, Sky Tower, Ayodhya Road, Lucknow</p><br>

<h3>6. Indira Nagar</h3><br>
<p>4/5, A Block, Indira Nagar, Lucknow</p><br>

<h3>7. Hazratganj</h3><br>
<p>2nd Floor, Tej Kumar Plaza, Hazratganj, Lucknow</p><br>

<h3>8. Alambagh</h3><br>
<p>1st Floor, Raman Square, Alambagh, Lucknow</p><br>

<h3>9. Aliganj</h3><br>
<p>3rd Floor, Sahara Market, Aliganj, Lucknow</p><br>

<h3>10. Chowk</h3><br>
<p>24, Shahmina Road, Chowk, Lucknow</p>
</div>
{%endblock%}