{%extends 'bankTemp/base.html'%}
{%block content%}
    
<div
class="bg-image" style="background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg');      
      height: 100vh;">
  

<h1>Apply For Loan</h1><br>

<h2>Home Loan</h2>
<p>We give home loan at 7%.</p><br>

<h2>Education Loan</h2>
<p>We give education loan at 6%.</p><br>

<h2>Car Loan</h2>
<p>We give car loan at 9%.</p><br>

<h2>Personal Loan</h2>
<p>We give personal loan at 11%.</p>


{%endblock%}
